# Practical Exam: House sales

RealAgents is a real estate company that focuses on selling houses.

RealAgents sells a variety of types of house in one metropolitan area.

Some houses sell slowly and sometimes require lowering the price in order to find a buyer.

In order to stay competitive, RealAgents would like to optimize the listing prices of the houses it is trying to sell.

They want to do this by predicting the sale price of a house given its characteristics.

If they can predict the sale price in advance, they can decrease the time to sale.


## Data

The dataset contains records of previous houses sold in the area.

| Column Name | Criteria                                                |
|-------------|---------------------------------------------------------|
| house_id    | Nominal. </br> Unique identifier for houses. </br>Missing values not possible. |
| city        | Nominal. </br>The city in which the house is located. One of 'Silvertown', 'Riverford', 'Teasdale' and 'Poppleton'. </br>Replace missing values with "Unknown". |
| sale_price  | Discrete. </br>The sale price of the house in whole dollars. Values can be any positive number greater than or equal to zero.</br>Remove missing entries. |
| sale_date   | Discrete. </br>The date of the last sale of the house. </br>Replace missing values with 2023-01-01. |
| months_listed  | Continuous. </br>The number of months the house was listed on the market prior to its last sale, rounded to one decimal place. </br>Replace missing values with mean number of months listed, to one decimal place. |
| bedrooms    | Discrete. </br>The number of bedrooms in the house. Any positive values greater than or equal to zero. </br>Replace missing values with the mean number of bedrooms, rounded to the nearest integer. |
| house_type   | Ordinal. </br>One of "Terraced" (two shared walls), "Semi-detached" (one shared wall), or "Detached" (no shared walls). </br>Replace missing values with the most common house type. |
| area      | Continuous. </br>The area of the house in square meters, rounded to one decimal place. </br>Replace missing values with the mean, to one decimal place. |

# Task 1

The team at RealAgents knows that the city that a property is located in makes a difference to the sale price. 

Unfortuntately they believe that this isn't always recorded in the data. 

Calculate the number of missing values of the `city`. 

 - You should use the data in the file "house_sales.csv". 

 - Your output should be an object `missing_city`, that contains the number of missing values in this column.

In [20]:
# Use this cell to write your code for Task 1

import pandas as pd 
import numpy as np

df = pd.read_csv('house_sales.csv')

missing_values = df.isnull()

df["city"].fillna("Unknown", inplace=True)
df["sale_date"].fillna("2023-01-01", inplace=True)
df["months_listed"].fillna(df["months_listed"].mean(), inplace=True)
df["bedrooms"].fillna(df["bedrooms"].mean(), inplace=True)
df["house_type"].fillna(df["house_type"].mode(), inplace=True)

df['area'] = df['area'].apply(lambda x : x.split(' ')[0]).astype(float)
df["area"].fillna(df["area"].mean(), inplace=True)

missing_values = df.isnull()
print(missing_values.sum())

house_id         0
city             0
sale_price       0
sale_date        0
months_listed    0
bedrooms         0
house_type       0
area             0
dtype: int64

# Task 2 

Before you fit any models, you will need to make sure the data is clean. 

The table below shows what the data should look like. 

Create a cleaned version of the dataframe. 

 - You should start with the data in the file "house_sales.csv". 

 - Your output should be a dataframe named `clean_data`. 

 - All column names and values should match the table below.


| Column Name | Criteria                                                |
|-------------|---------------------------------------------------------|
| house_id    | Nominal. </br> Unique identifier for houses. </br>Missing values not possible. |
| city        | Nominal. </br>The city in which the house is located. One of 'Silvertown', 'Riverford', 'Teasdale' and 'Poppleton' </br>Replace missing values with "Unknown". |
| sale_price  | Discrete. </br>The sale price of the house in whole dollars. Values can be any positive number greater than or equal to zero.</br>Remove missing entries. |
| sale_date   | Discrete. </br>The date of the last sale of the house. </br>Replace missing values with 2023-01-01. |
| months_listed  | Continuous. </br>The number of months the house was listed on the market prior to its last sale, rounded to one decimal place. </br>Replace missing values with mean number of months listed, to one decimal place. |
| bedrooms    | Discrete. </br>The number of bedrooms in the house. Any positive values greater than or equal to zero. </br>Replace missing values with the mean number of bedrooms, rounded to the nearest integer. |
| house_type   | Ordinal. </br>One of "Terraced", "Semi-detached", or "Detached". </br>Replace missing values with the most common house type. |
| area      | Continuous. </br>The area of the house in square meters, rounded to one decimal place. </br>Replace missing values with the mean, to one decimal place. |

In [21]:
# Use this cell to write your code for Task 2 


df['house_type'] = df['house_type'].replace(['Det.', 'Semi', 'Terr.'], ['Detached', 'Semi-detached', 'Terraced'])

df_clean = df
df_clean.head()

   house_id        city  sale_price  ... bedrooms     house_type   area
0   1217792  Silvertown       55943  ...        2  Semi-detached  107.8
1   1900913  Silvertown      384677  ...        5       Detached  498.8
2   1174927   Riverford      281707  ...        6       Detached  542.5
3   1773666  Silvertown      373251  ...        6       Detached  528.4
4   1258487  Silvertown      328885  ...        5       Detached  477.1

[5 rows x 8 columns]

In [22]:
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1500 entries, 0 to 1499
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   house_id       1500 non-null   int64
 1   city           1500 non-null   object
 2   sale_price     1500 non-null   int64
 3   sale_date      1500 non-null   object
 4   months_listed  1500 non-null   float64
 5   bedrooms       1500 non-null   int64
 6   house_type     1500 non-null   object
 7   area           1500 non-null   float64
dtypes: float64(2), int64(3), object(3)
memory usage: 93.9+ KB

# Task 3 

The team at RealAgents have told you that they have always believed that the number of bedrooms is the biggest driver of house price. 

Producing a table showing the difference in the average sale price by number of bedrooms along with the variance to investigate this question for the team.

 - You should start with the data in the file 'house_sales.csv'.

 - Your output should be a data frame named `price_by_rooms`. 

 - It should include the three columns `bedrooms`, `avg_price`, `var_price`. 

 - Your answers should be rounded to 1 decimal place.

In [23]:
# Use this cell to write your code for Task 3 

grouped_df = df.groupby('bedrooms')


price_by_rooms = pd.DataFrame()
price_by_rooms['avg_price'] = grouped_df['sale_price'].mean().round(1)
price_by_rooms['var_price'] = grouped_df['sale_price'].var().round(1)


# print(price_by_rooms)
price_by_rooms

          avg_price     var_price
bedrooms
2           67076.4  5.652896e+08
3          154665.1  2.378289e+09
4          234704.6  1.725211e+09
5          301515.9  2.484328e+09
6          375741.3  3.924432e+09

# Task 4

Fit a baseline model to predict the sale price of a house.

 1. Fit your model using the data contained in “train.csv” </br></br>

 2. Use “validation.csv” to predict new values based on your model. You must return a dataframe named `base_result`, that includes `house_id` and `price`. The price column must be your predicted values.

In [24]:
# Use this cell to write your code for Task 4
import numpy as np 
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, r2_score, mean_absolute_error


# function 
def wrangle(path_df): 
    df_train =  pd.read_csv(path_df)
    df_train['city'] = LabelEncoder().fit_transform(df_train['city'])
    df_train['house_type'] = LabelEncoder().fit_transform(df_train['house_type'])
    
    df_train['sale_date_year'] = df_train['sale_date'].apply(lambda x : x.split('-')[0]).astype(int)
    df_train['sale_date_month'] = df_train['sale_date'].apply(lambda x : x.split('-')[1]).astype(int)
    df_train['sale_date_day'] = df_train['sale_date'].apply(lambda x : x.split('-')[2]).astype(int)
    
    df_train.drop(columns=['sale_date'],inplace=True)
    
    return df_train 




train_data = wrangle('train.csv')
train_data = train_data.drop(columns=['house_id'])

validation_data = wrangle('validation.csv')
validation_data_house_id = validation_data['house_id']

validation_data = validation_data.drop(columns=['house_id'])
validation_data_house_id


X_train, X_val, y_train, y_val = train_test_split(train_data.drop(columns=['sale_price']), train_data['sale_price'], test_size=0.2, random_state=42)

# Gradient Boosting Regressor
xgb_rg = GradientBoostingRegressor()
xgb_rg.fit(X_train,y_train)
y_pred_xgb = xgb_rg.predict(X_val)

r2_score = xgb_rg.score(X_val, y_val)
print(r2_score)

y_pred_val = xgb_rg.predict(validation_data)

base_result = pd.DataFrame({'house_id': validation_data_house_id, 'price': y_pred_val})

base_result

0.9843469816802235

     house_id          price
0     1331375   81626.020207
1     1630115  306826.193884
2     1645745  395695.858740
3     1336775  107760.230784
4     1888274  268717.558758
..        ...            ...
295   1986255  352824.369537
296   1896276  378668.755735
297   1758223  260559.651961
298   1752010  178942.712539
299   1651404  413369.798617

[300 rows x 2 columns]

# Task 5

Fit a comparison model to predict the sale price of a house.

 1. Fit your model using the data contained in “train.csv” </br></br>

 2. Use “validation.csv” to predict new values based on your model. You must return a dataframe named `compare_result`, that includes `house_id` and `price`. The price column must be your predicted values.

In [25]:
# Use this cell to write your code for Task 5 


train_data = wrangle('train.csv')
train_data = train_data.drop(columns=['house_id'])

validation_data = wrangle('validation.csv')
validation_data_house_id = validation_data['house_id']

validation_data = validation_data.drop(columns=['house_id'])
validation_data_house_id


X_train, X_val, y_train, y_val = train_test_split(train_data.drop(columns=['sale_price']), train_data['sale_price'], test_size=0.2, random_state=42)

# Gradient Boosting Regressor
dt_reg = DecisionTreeRegressor()
dt_reg.fit(X_train,y_train)
y_pred_dt_reg = dt_reg.predict(X_val)

r2_score = dt_reg.score(X_val, y_val)
print(r2_score)

y_pred_val = dt_reg.predict(validation_data)

base_result = pd.DataFrame({'house_id': validation_data_house_id, 'price': y_pred_val})

base_result

0.9751594962555945

     house_id     price
0     1331375   82462.0
1     1630115  311847.0
2     1645745  420750.0
3     1336775  101772.0
4     1888274  274324.0
..        ...       ...
295   1986255  363909.0
296   1896276  389121.0
297   1758223  275236.0
298   1752010  172705.0
299   1651404  409702.0

[300 rows x 2 columns]